.blog-page-container{
       padding: 5vh 10vw;
}
.single-blog-card{
       padding: 5%;
       border-radius: 1rem;
       box-shadow: 0px 0px 10px 1px gray;
}
.single-blog-card-img-container {
       border-top-left-radius: .8rem !important;
       border-top-right-radius:.8rem !important ;
}
.single-blog-title{
       cursor: pointer;
       transition: all .5s;
}
.single-blog-card-subTitle{
       font-size: .8rem;
       transition: all .5s;
       cursor: pointer;
}
.single-blog-card-subTitle:hover,.single-blog-title:hover{
       color: #00AEFF !important;
}


