.home-first-order-dropdowns{
       width: 100%;
       background-color: aliceblue !important;
       color: #00AEFF !important;
       border: 0 !important;
       display: flex !important;
       justify-content: center !important;
       align-items: center !important;
}
.search-btn{
       background-color: transparent !important;
       border: 0;
       font-size: 1.5rem !important;
}
.searchbar-container{
       border: 1px solid #444;
       border-radius: .7rem;
      
}
.dropdown-menu{
       background-color: #00aeff85 !important;
       border: 1px solid aliceblue !important;
}
.dropdown-item{
       color: aliceblue !important;
}
.dropdown-item:hover{
color: #444 !important;
}
.order-boxes-btn{
       background-color: #004274;
       transition: all .5s;
       white-space: nowrap;
}
.order-boxes-btn:hover{
       background-color: #00AEFF;
       color: aliceblue;
}
.suggest-places{
       height: 85vh;    
       background-size: cover;
}
.Home-LastestAndFeatured-Section-title-container{
       height: 20vh;
}
.Home-property-of-sale-Section-title-container{
       height: 20vh;
}
.Home-LastestAndFeatured-Section-title-container-text{
       font-size: 1rem;
       width: 30%;
       text-align: center;
       color: #616060;
}
.home-service-section{
       width: 100%;
       background: url(../../../public/images/home/section-bg1.jpg.webp);
       background-size: cover;
}
.home-service-section-title{
       font-size: 3rem;
       height: 40%;
}
.home-service-section-box{
       background: #00A0EB;
       height: 40vh;
       box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.205);
       cursor: pointer;
       
}
.home-service-section-box:nth-last-of-type(3){
       border-bottom-left-radius: .8rem;
       border-top-left-radius: .8rem;
}
.home-service-section-box:nth-last-of-type(1){
       border-bottom-right-radius: .8rem;
       border-top-right-radius: .8rem;
}
.home-service-section-box-img{
       width: 70px;
}
.home-service-section-box-title{
       font-size: 1.5rem;
}
.explore-with-property-type-section{
       width: 100%;
       background-color: #F2F4F8;
}
.explore-with-property-type-section{
       padding: 7vh 7vw;
}
.explore-with-property-type-section-btn{
       background: #00AEFF !important;
       position: relative;
       width: fit-content;
       border-radius: .8rem;
       padding: 1vh 1.5vw;
       border: 0;
       color: aliceblue !important;
       font-size: 1.5rem !important;
       z-index: 1 !important;
       transition: all .7s;
}
.explore-with-property-type-section-btn:hover{
       background: linear-gradient(to right,rgba(30, 103, 167, 0.53) 60%,#00AEFF) !important;
}
.explore-with-property-type-section-box{
       background: white !important;
       padding: 5vh 0;
       transition: all 1s;
       cursor: pointer;
}
.explore-with-property-type-section-box-img{
       width: 70px;
}
.explore-with-property-type-section-box-title{
       font-weight: 500;
       transition: all .5s;
}
.explore-with-property-type-section-box:hover .explore-with-property-type-section-box-title{
       color: #00A0EB !important;
}
.explore-with-property-type-section-box:hover{
         background: linear-gradient(to top ,#F2F4F8,white) !important; ;
         box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.463);
}
.persons-socials-container{
       bottom: 0;
       right: 0;
       left: 0;
       height: 35%;
       
       overflow: hidden;
}
.person-scoial-icon{
       font-size: 1.6rem !important;
       background-color: #004274;
       padding:  .7vw;
       transform: translateY(15vh);
       transition: all .7s
}
.agent-box-container{
       cursor: pointer;
}
.agent-box-container:hover .person-scoial-icon{
       transform: translateY(-5vh);
}
.agent-name{
font-size: 1.7rem;
}
.subscribe-newsleter-infos{
       padding: 0 5vw !important;
}
.sucscribe-newsletter-section{
       background-color: #004274;
}
.newslater-btn{
       background-color: #00A0EB !important;
}