
.suggest-places{
       height: 85vh;    
       background-size: cover;
}
.Home-LastestAndFeatured-Section-title-container{
       height: 20vh;
}
.Home-property-of-sale-Section-title-container{
       height: 20vh;
}
.Home-LastestAndFeatured-Section-title-container-text{
       font-size: 1rem;
       width: 30%;
       text-align: center;
       color: #616060;
}


