.home-first-order-dropdowns{
       width: 100%;
       background-color: aliceblue !important;
       color: #00AEFF !important;
       border: 0 !important;
       display: flex !important;
       justify-content: center !important;
       align-items: center !important;
}
.search-btn{
       background-color: transparent !important;
       border: 0;
       font-size: 1.5rem !important;
}
.searchbar-container{
       border: 1px solid #444;
       border-radius: .7rem;
      
}
.dropdown-menu{
       background-color: #00aeff85 !important;
       border: 1px solid aliceblue !important;
}
.dropdown-item{
       color: aliceblue !important;
}
.dropdown-item:hover{
color: #444 !important;
}
.order-boxes-btn{
       background-color: #004274;
}