:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.d-flex-centring{
  display: flex ;
  justify-content: center ;
  align-items: center ;
}
body{
  width: 100vw !important;
  overflow-x: hidden;
}
a{
  text-decoration: none !important;
}
#root{
  width: 100vw !important;
}
::-webkit-scrollbar {
  width:8px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #104ac0;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #04244a;
}